#local {
  width: 320px;
  height: 240px;
  border: solid 1px;
}

#login {
  border: 1px solid;
}

#inviteAddress {
  border: 1px solid;
  width: 30%;
}

#participantDisplay {
  width: 320px;
  height: 240px;
  border: solid 1px;
}
